{% extends "base.html" %}

{% block title %}Сокращатель 5000{% endblock %}

{% block content %}
  {% load user_filters %}
  <h1>Самый лучший сокращатель ссылок</h1>
  <div>
    <form method="post" action={% url "shortener:index" %}>
      {% csrf_token %}
      {% for field in form %}
        <label class="form-label">{{ field.label }}</label>
        {{ field|addclass:"form-control py-2 mb-2" }}
        <div class="form-text pb-3">{{ field.help_text }}</div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Сократить</button>
    </form>
  </div>
  <div>
    <h1 class="pt-3"><a href="{{ short_url }}" target="blank">{{ short_url }}</a></h1>
  </div>
{% endblock %}
